.historique-container{
    color: #2c3e50;
    border-bottom:  2px solid #3498db;
    padding-bottom: 15px;
}
.historique-container h2{
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
}
.historique-container ul {
    list-style: none;
    padding: 0;
}
.historique-container li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    margin-bottom: 4px;
    border-radius: 6px;
}
.historique-container li :hover{
    background-color: #eef5fc;
}